img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.contentAligned {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
}

.columnIndented {
    margin: 15px 0 0 25px;
}

#theWideWorld, .columnIndented {
    border: 1px solid white;
    padding: 10px;
}

body {
    background-color: orange;
}

h1, h3, p {
    font-family: "Comic Sans MS";
}

h1 {
    color: cyan;
}

h3 {
    color: deeppink;
}

h4 {
    color: white;
    font-family: courier;
    margin: 10px 0 10px 0;
}
